# Here defines your aliases

alias profile='code ~/.zshrc'
alias aliases='code ~/.aliases'
alias vars='code ~/.vars'
alias functions='code ~/.functions'
alias shortcuts='code ~/.shortcuts'

alias @rs='exec ${SHELL} -l'
alias @reload='reload_source'

alias @dir='dir'
alias @ls='ls -la'

# Tools

alias https='http --default-scheme=https'
alias @img='catimg -w 64'
alias @search='grep -Rin -A 3 -B 3 -E --color=auto'
alias @ports='lsof -nP | grep LISTEN'
alias @ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias @now='date +"%Y-%m-%d @ %T"'
alias @extract='uncompress_files'

# Dev

alias @run='yarn run'
alias @install='npm install'
alias @add='yarn add'
alias @dev='yarn dev'
alias @prettier='yarn prettier'
alias @prettier!='yarn prettier --write'
alias @lint='yarn lint'
alias @unit='yarn test:unit'
alias @jest='npx jest -u --coverage false'
alias @build='yarn build'
alias @deploy='yarn deploy'
alias @storybook='yarn storybook'
alias @mongo='mongod --config /usr/local/etc/mongod.conf'
alias @extensions='generate_vscode_extensions_file'

alias composer='php ~/composer.phar'

# GIT

alias ga='git add -A'
alias gc='git commit -m'
alias gri='git rebase -i'
alias grc='git rebase --continue'
alias gra='git rebase --abort'
alias grs='git rebase --skip'
alias gmc='git merge --continue'
alias gma='git merge --abort'
alias gms='git merge --skip'

alias @status='git status'
alias @log='git log --oneline'
alias @commit='git add -A && git commit -m'
alias @empty='git commit --allow-empty -m ""'
alias @fixup='LAST_COMMIT=$(git rev-parse --short HEAD) && git commit -a --fixup $LAST_COMMIT'
alias @autosquash='git rebase --autosquash --interactive'
alias @reword='git commit --amend'
alias @checkout='git checkout'
alias @checkout!='git fetch && git checkout'
alias @fetch='git fetch --all'
alias @push='git push'
alias @pull='git pull'
alias @stash='git stash'
alias @pop='git stash pop'
alias @drop='git stash drop'
alias @rebase='git rebase'
alias @diff='git diff'
alias @push!='git push -f'
alias @pull!='git pull --rebase'
alias @commit!='commit_noverify'
alias @reset='git reset --hard'
alias @origin='git remote -v'
alias @cherrypick='git cherry-pick'
alias @sync='@pull! && @rebase origin/dev'

alias @enhooks='enable_hooks'
alias @dishooks='disable_hooks'
