# Here defines your aliases

alias profile='code ~/.zshrc'
alias aliases='code ~/.aliases'
alias vars='code ~/.vars'
alias functions='code ~/.functions'
alias shortcuts='code ~/.shortcuts'

alias @rs='exec ${SHELL} -l'
alias @reload='reload_source'

alias @dir='dir'
alias @ls='ls -la'

# Tools

alias https='http --default-scheme=https'
alias img='catimg -w 64'
alias search='grep -Rin -A 3 -B 3 -E --color=auto'

# Nginx

alias nxstart='sudo brew services start nginx'
alias nxstop='sudo brew services stop nginx'
alias nxrestart='sudo brew services restart nginx'
alias nxreload='sudo brew services reload nginx'
alias nxconf='nano /usr/local/etc/nginx/nginx.conf'

# Dev

alias @install='sudo npm install'
alias @dev='npm run dev'
alias @debugger='npm run debug'
alias @test='npm run test'
alias @e2e='npm run e2e'
alias @migrate='npm run migrate'
alias @serve='npm run serve'
alias @build='npm run build'
alias @deploy='npm run deploy'
alias @mongo='mongod --config /usr/local/etc/mongod.conf'

# GIT

alias ga='git add -A'
alias gc='git commit -m'
alias gri='git rebase -i'
alias grc='git rebase --continue'
alias gra='git rebase --abort'
alias grs='git rebase --skip'

alias @status='git status'
alias @log='git log --oneline'
alias @commit='git add . && git commit -m'
alias @checkout='git checkout'
alias @fetch='git fetch --all'
alias @push='git push origin HEAD -f'
alias @pull='git pull --rebase'
alias @stash='git stash'
alias @pop='git stash pop'
alias @rebase='git rebase'
alias @diff='git diff'
alias @push!='git push -f'
alias @pull!='git pull --rebase'
alias @commit!='commit_noverify'

alias @enhooks='enable_hooks'
alias @dishooks='disable_hooks'
